.footer {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer .row {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer .row div:first-child {
    margin-right: 15px;
}
.footer .row div img {
    margin-bottom: 35px;
}
.footer .row div p {
    color: var(--text);
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.footer .row div span {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 25px;
    display: block;
}
.footer .row div a {
    padding-bottom: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    color: var(--text);
    font-size: 0.9rem;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}
.footer .row div a:hover {
    border-bottom: 1px solid var(--primary);
}

@media (max-width: 950px) {
    .footer .row {
        padding: 0 5%;
        flex-wrap: wrap;
    }
    .footer .row div {
        width: 30%;
    }
    .footer .row div:first-child {
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 650px) {
    .footer .row div {
        width: 100%;
    }
}
